@charset "UTF-8";
.wrap{
	width:500px;
}
#myckwrap{
	margin:200px auto 100px;
	font-size: 40px;
	text-align: center;	
}
#myckfrm{
	border: 1px solid gray;
}
#title{
	margin-bottom: 15px;
	border-bottom: 1px solid #dadada;
	padding-bottom: 10px;
}
#subtitle{
	font-size: 15px;
}
.ckinput{
	border: 1px solid gray;
	height: 50px;
	width: 90%;
	margin: 20px auto;
	display: block;
	font-size: 30px;
}
#id{
	border: none;
	text-align: center;
}
#cksubmit{
	border:none;
	border-radius: 5px;
}
#cksubmit:hover{
	background-color: #63BBED;
	opacity: 0.7;
}
