@charset "utf-8";

.wrap {
	margin-top: 50px;
}

#container {
    padding: 80px 0 40px;
    width: 900px;
    margin: 0 auto;
}

.gakgu {
	width: 100%;
    height: 100%;
    border: 2px solid #ccc;
    padding-top: 50px;
    border-radius: 13px;
}

.gakgu tr td{
	border: 1px solid #ccc;
    padding: 8px 12px 8px 12px;
    border-radius: 20%;
    display: inline-block;
    margin-right: 65px;
    cursor: pointer;
    font-size: 18px;
	
}

.gakgu tr td:last-child {
	margin-right: 15px;
	
}

#gwangsan1 {
	margin-bottom: 20px;
	display: block;
	
}
#gwangsan2 {
	display: block;
	margin-bottom: 20px;
	
}
#gwangsan3 {
	display: block;
	margin-bottom: 20px;
	
}
#gwangsan4 {
	display: block;
	margin-bottom: 20px;
	
}

#gwangsan5 {
	display: block;
	margin-bottom: 50px;
	
}

table {
	margin-left: auto;
	margin-right: auto;
	
}

.graph-con1 {
	margin-top: 30px;
	margin-bottom: 50px;
	display: block;
}

#board {
	position: relative;
	margin:  0 auto;
}

#table1 {
	width: 100%;
    border-collapse: collapse;
    margin: 0 auto;
    position: relative;
    border-top: 2px solid #CCC;
    border-bottom: 2px solid #CCC;
}

.name {
	width: 20%;
	border-bottom: 1px solid #CCC;
}
.photo {
	width: 15%;
}
td {
	text-align: center;
}

.graph {
	margin-top: 30px;
	margin-bottom: 100px;
}

#thead1 {
	border-bottom: 1px solid #CCC;
}

#aptserch {
	width: 94%;
    height: auto;
    border: 2px solid #CCC;
    border-radius: 0%;
    padding: 25px 50px 25px 50px;
    margin-bottom: 50px!important;
    margin: 0 auto;
}
#aptserch1 > td {
	border: 1px solid #CCC;
	padding: 5px;
	margin-left: 5px;
	margin-right: 5px;
	border-radius: 10%;
	display: inline-block;
	margin-top: 10px;
	margin-bottom: 10px;
	cursor: pointer;
}

#board {
    width: 100%;
    height: auto;
}

.product {
	border: 2px solid #CCC;
    width: 23%;
    height: 220px;
    border-radius: 10%;
    text-align: center;
    display: inline-block;
    margin-right: 14px;
    margin-bottom: 20px;
    cursor: pointer;
}

.product > a > span {
	text-align: center;
	font-size: 16px;
	font-family: 'Jeju Gothic', serif;
	display: block;
}

.aptname {
	margin-top: 20px;
    padding-bottom: 15px;
}
.standard {
	margin-top: 15px;
    padding-bottom: 10px;
}
.average {
	margin-top: 15px;
    padding-bottom: 10px;
}
.price {
	margin-top: 15px;
    padding-bottom: 10px;
}












