@charset "UTF-8";
body{
	padding: 0;
	margin: 0;
}
/* 경고문 */
span.ck{
	color: red;
	font-size: 13px;
	display: none; 
}
/* 전체를 감싸는 div */
#join_wrap{
	width: 500px;
	margin: 100px auto 15px;
}
/* 각 영역을 나누고 있는 div? */
.info_wrap{
	width: 500px;
	border: 1px solid gray;
}
/* input영역을 감싸는 div */
.info{
	width: 100%;
	height:50px;
	border-bottom: 1px solid gray;
}
.info:last-child{
	border-bottom: none;
}
#info_wrap3{
	height: 280px;
}
/* input태그 */
.info_input{
	width: 40%;
	height: 50%;
	border: none;
	margin: 10px 20px;
}
#mail{
	width: 40%;
}
/* 사업자 번호 */
.brn_input{
	width: 20%;
	border: 1px solid gray;
	text-align: center;
}
/* 중개소 전화번호 */
#sphone{
	width: 75%;
}
select{
	height: 90%;
	border: none;
	outline: none;
}
/* 중개소 주소 */
.join{
	height: 30px;
	margin: 3px;
	border: 1px solid gray;
	padding-left: 10px;
}
#address_wrap{
	width: 65%;
}
#address{
	width:128%;
}
#address2{
	width: 90%;
}
#addr_button{
	height: 30px;
	color: white;
	font-size: 12px;
	padding: 5px;
}
/* 회원가입 버튼 */
#frm_submit{
	display: block;
	width: 100%;
	height: 60px;
	font-size: 20px;
	text-align: center;
	text-decoration: none;
	padding-top: 10px;
	font-weight: bold;
	color: white;
}
#submit_wrap{
	width: 500px;
	margin: 15px auto 60px;
}
/* 버튼 */
.join_btn{
	background-color: #63BBED;
	border: 1px solid #dadada;
}