@charset "utf-8";

/* @import "base.css"; */

/* 메인페이지 사진 */
.wrap {
	background: url('../images/main5.jpg') no-repeat center top;
	opacity: 0.93;
	margin-top: 50px;
}

.inner {
	width: 1300px;
	margin: 0 auto;
}

#header {
	background: black;
	/*  opacity: 0.7; */
	z-index: 1;
}

#header ul.auth>li {
	display: inline-block;
}

#header ul.auth {
	float: right;
	padding: 10px;
}

#header ul.auth>li:before {
	content: '|';
	padding: 0 10px;
	color: #8d8d8d;
}

#header ul.auth>li:first-child:before {
	content: '';
}

#container {
	padding: 120px 0 40px;
}

/* 메인의 글귀 위치, 사이즈, 규격 */
#container div.top_page>h3 {
	text-align: center;
	color: white;
	font-size: 60px;
	margin-top: 70px;
	font-weight: 500;
	padding-bottom: 380px;
	text-shadow: 1px 2px 90px rgb(0, 0, 0);
	font-family: 'Hanna', serif;
}

/* 각 구 나누는 원의 위치, 글자크기 */
#container .local ul.gj {
	text-align: center;
	font-size: 22px;
	margin-bottom: 50px;
    margin-top: 30px;
}

/* 각 구 나누는 원 간격 증가 */
#container .local ul.gj>li {
	display: inline-block;
    margin: 45px 127px 30px 0px;
    float: left;
}

/* 각 구 클릭하는 원 */
#container .local ul.gj > li > a {
	display: table-cell;
    background: #A4D2ED;
    width: 150px;
    height: 75px;
    padding: 0px 20px;
    color: white;
    font-weight: 600px;
    vertical-align: middle;
    overflow: hidden;
    border-radius: 10%;
    vertical-align: middle;
    font-family: 'Hanna', serif;
    font-size: 30px;
}

#container .local ul.gj>li>a:hover {
	background-color: #ffab84;
	color: #fff;
	border: 10px solid #ff7650;
	font-weight: bold;
}

#container .graph-con1 {
	/* background: url(../images/bg.png); */
	margin-top: -52px;
	padding: 30px 20px;
	display: none;
}

#container .graph-con2 {
	margin-top: -52px;
	padding: 30px 20px;
	display: none;
}
#container .graph-con3 {
	margin-top: -52px;
	padding: 30px 20px;
	display: none;
}
#container .graph-con4 {
	margin-top: -52px;
	padding: 30px 20px;
	display: none;
}
#container .graph-con5 {
	margin-top: -52px;
	padding: 30px 20px;
	/* display: none; */
}

#container .page-path {
	font-size: 12px;
	color: #242424;
	border-bottom: 1px solid #404040;
	padding-bottom: 10px;
	margin-bottom: 10px;
}

#container .graph-inner {
	min-height: 350px;
}

.menu-utility-user > li > a {
	color: white;
	font-size: 15px;
	font-family: 'Jeju Gothic', serif;
	
}

.menu-category ul.level-1 li a.level-1 {
	font-family: 'Hanna', serif;
    letter-spacing: .1em;
    font-weight: 600;
    margin: 0px 30px 0px 30px;
    font-size: 30px;
    color: white;
}

#header {
	height: 50px;
	min-width: 100%;
	position: absolute;
	z-index: 1;
	top: 0;
	text-align: center;
	border-bottom: none;
	background-color: #63BBED;
}


#container .local ul.gj>li:last-child {
	margin-right: 0px;	
}
	
#container .local ul.gj>li:first-child {
	margin-left: 19px
} 
	
#header_inner{
	width: 100%;
    height: 12px;
    position: absolute;
    background-color: #FFF;
    margin-top: -7px;
    opacity: 0.5;
		
}











